{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Bonds {{ principal }}</h1>
            </div>

            <div id="serieslabelspercent"></div>
            <div id="serieslabels"></div>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {

            Highcharts.chart('serieslabels', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Bonds evolution for {{ principal|e('js') }}'
                },
                subtitle: {
                    text: 'Amount: {{ initialValue|e('js') }} {{ currency|e('js') }} - Period: {{ periodStart|e('js') }} - {{ periodEnd|e('js') }}'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b %y',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Profit ({{ currency }})'
                    },
                    plotLines: [{
                        color:'#000000',
                        value: 0,
                        width: 2
                    }],
                    softMin: 0
                    //min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b %y}: {point.y:.2f} {{ currency|e('js') }}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: '{{ principal|e('js') }}',
                    data: {{ evolutionSeries|json_encode }}
                }]
            });

            Highcharts.chart('serieslabelspercent', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Bonds profit evolution for {{ principal|e('js') }}'
                },
                subtitle: {
                    text: 'Amount: {{ initialValue|e('js') }} {{ currency|e('js') }} - Period: {{ periodStart|e('js') }} - {{ periodEnd|e('js') }}'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b %y',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Profit ratio (%)'
                    },
                    plotLines: [{
                        color:'#000000',
                        value: 0,
                        width: 2
                    }],
                    softMin: 0
                    //min: 0
                },
                tooltip: {
                    useHTML: true,
                    formatter: function() {
                        return '<b>' + this.series.name + '</b><br />'
                            + Highcharts.dateFormat('%e. %b %y', this.x) + ': <b>' + Highcharts.numberFormat(this.y, 2) + '%</b><br />'
                            + this.point.z +' {{ currency|e('js') }}'
                        ;
                    }
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: '{{ principal|e('js') }} Profit Ratio',
                    data: {{ percentSeries|json_encode|raw }}
                }]
            });
        });
    </script>
{% endblock %}
